[Unit]
Description=Adam Chip Exhibition Runtime
Requires=adam-orchestrator.service adam-tts-silero.service
Wants=ollama.service docker.service
After=adam-orchestrator.service adam-tts-silero.service ollama.service docker.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
