[Unit]
Description=Adam Chip Exhibition Runtime
Requires=adam-orchestrator.service adam-tts-silero.service adam-asr-whisper.service adam-llm.service
Wants=docker.service
After=adam-orchestrator.service adam-tts-silero.service adam-asr-whisper.service adam-llm.service docker.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
